  /* width */
  ::-webkit-scrollbar {
      width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
      background: #0D1D37;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #4751AE;
      border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #4751AE
  }