@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.fade-in {
  animation: fadeIn 300ms ease-in-out forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
